################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BirthDates/.vs/BirthDates/v15
/.vs
